.my-footer {
    height: 5em;
    background-color: #163b65;
    margin-top: 1.5em;
    padding: 1em;
    color: white;
    font-size: 80%;
  }

  .datepicker-picker {
    z-index: 1000000000;
  }

  .form-control {
    z-index: 1000000000;
  }

  .swal2-actions{
    z-index: 0 !important;
  }